.code-selector {
	padding: 15px;
	border-radius: 3px;
	width: 200px;
	margin: 10px;
	background-color: #DD403A;
	color: #FFFCE8;
	opacity: .9;
}

.code-selector:hover {
	cursor: pointer;
	transform: scale(1.02);
	opacity: 1;
}

h1 {
	color: red;
}

.selection-grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 600px){
	.selection-grid {
		justify-content: center;
		padding: 0px;
	}

}